<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="static/store.css">
</head>
<body>
<!--
	<a href="/">Home page</a>
	<h1>STORE</h1>
	<div class="card">
		<img src="">
-->
	<div class="row">
	<div class="column">
		<div class="card">
			<img src="topmayakeyypng" alt="lol" style="width: 100%">
			<div class="container">
				<h2>Ron "KILLA" Harel</h2>
				<p class="title">Vice President</p>
				<p><button class="button">Contact</button></p>

				
			</div>
		</div>
	</div>
	
	</div>

		




	</div>


</body>
</html>