<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<link rel="stylesheet" type="text/css" href="static/Store.css">
</head>
<body>
	<a href="/">Home page</a>
	<h1>Store</h1>
	<div class="card">
		<img src="therealdress.png" alt="Menomert dress" style="width: 25%">
		<h1>High quality Dress from Eden Ben Zaken house</h1>
		<p class="price">30 NIS</p>
		<p><button><a href="/cart">Add to Cart</a></button></p>
		<p><button><a href="/wish_list">Add to Wish List</a></button></p>
	</div>
	<div class="card">
		<img src="topmayakeyy.png" alt="Menomert dress" style="width: 25%">
		<h1>High quality Top from Eden Ben Zaken house</h1>
		<p class="price">30 NIS</p>
		<p><button><a href="/cart">Add to Cart</a></button></p>
		<p><button><a href="/wish_list">Add to Wish List</a></button></p>
	</div>
</body>
</html>